{% extends "base.html.twig" %}

{% block body %}
<header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Luxeloc</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_app_vehicules') }}">Vehicules</a>
                      </li>
                      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                       <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                      </li>
                      {% endif %}

                      {# si l'utilisateur est authentifié et a le rôle ADMIN #}
                      {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %} 
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" href="{{ path('admin_ajout_vehicule') }}">ajout vehicule</a></li>
                          <li><a class="dropdown-item" href="{{ path('admin_app_allVehicules') }}">Gestion vehicules</a></li>
                          <li><a class="dropdown-item" href="{{ path('admin_app_vehicules') }}">Marque des véhicules</a></li>
                        {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <p class"text-white">Bonjour Gaspard-Hubert Lonsi Koko !</p>
                </div>
              </nav>
        </div>
    </header>

<main class="container mb-5 mb-5">

    {% for message in app.flashes('success') %}
        <div class="alert alert-succes text-center">
          <p> {{ message }} </p>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
          <div class="alert alert-danger text-center">
            <p> {{ message }} </p>
          </div>
      {% endfor %}

    {% block content %}
    	{# ce block restera vide dans le layout, c'est là ou viendera s'inserer le contenu propre à chaque page #}
    {% endblock %}

    {% block final_js %}
        {# block qui servira à ajouter du js propre à chaque page #}
     {% endblock %}
</main>

 <footer class="fixed-bottom bg-light">
        <div class="text-center">
            <p> &copy; All rights reserved, LuxeLoc  </p>
        </div>
    </footer>

{% endblock body %}